@import url('https://fonts.googleapis.com/css2?Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    background: #111;
    background-image: url(imgs/fon.jpg);
    color: #990577;
}

a {
    color: #ccc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #990577;
}

a:active {
    color: #ff2793;
}

span {
    color: #990577;
}

.container {
    max-width: 800px;
    margin: auto;
    padding-top: 10px;
}

/* .navbar {
    margin: 0 0 20px 0;
    top: 0;
    position: fixed;
    z-index: 2;
} */

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding: 0 20px;
    top: 0;
}

#info {
    margin-top: 30px;
}

.navbar ul li {
    margin-right: 10px;
    padding: 10px;
}

/* .navbar ul li:hover {
    background: #990577;
    border-radius: 20px;
    opacity: .68;
} */

.navbar ul li:last-child {
    margin-right: 0;
}

.avatar {
    width: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px #990577;
}

/* .avatar:hover {
    width: 220px;
    box-shadow: 8px 8px 28px #990577;
} */

.info {
    margin-bottom: 30px;
    display: flex;
}

.info-text {
    margin-left: 40px;
}

.info-text p {
    font-style: italic;
    font-weight: bold;
    color: #86898f;
    margin: 0;
}

.info-text h4 {
    margin-bottom: 10px;
}

.card,
.form {
    border-radius: 20px;
    padding: 15px 20px;
    margin-bottom: 20px;
    opacity: .8;
}

.card:hover {
    opacity: 1;
}

.card h2 {
    margin-bottom: 10px;
    text-align: center;
}

.radio {
    background-color: #130617;
}

.retrowave-radio {
    width: 42%;
    margin-top: 10px;
}

.hobby {
    background-color: #0c141f;
    color: #b30f40;
}

.work {
    background-color: #0e6966;
    color: black;
}

.table {
    width: 100%;
}

.table td {
    padding: 10px;
}

.table td:nth-child(2),
.table td:nth-child(3) {
    color: #ccc;
}

.edu {
    background-color: #450e69;
    color: white;
}

.list {
    padding: 0 20px;
}

.list li {
    color: #ccc;
    margin-bottom: 10px;
}

.link-list {
    list-style: none;
    padding: 0;
}

.link-list li {
    margin-bottom: 10px;
    border-bottom: 1px solid #86898f;
    padding-bottom: 10px;
}

.stack {
    background-color: #c33764;
}

.stack h2 {
    color: #111;
}

.form {
    background-color: #130617;

}

.form h2{
    text-align: center;
    color: #ff2793;
}

.form-row {
    margin-bottom: 10px;
    display: flex;
}

.form-row .form-group {
    margin-right: 20px;
    width: 50%;
    /* display: inline-block; */
    /* width: calc(50% - 20px); */
}

.form-row .form-group:last-child {
    margin-right: 0;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #ccc;
}

.form-group input,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #86898f;
    color: #ff2793;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

.btn {
    background: #ff2793;
    padding: 15px 20px;
    color: #111;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: inherit;
}

.btn:hover {
    opacity: .8;
}

@media (max-width: 650px) {
    .info {
        display: block;
        text-align: center;
    }

    .form-row {
        display: block;
    }

    .form-row .form-group {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}